alabaster==0.7.12
appdirs==1.4.4
application-utility==1.3.2
asn1crypto==1.4.0
astroid==2.4.2
Babel==2.9.0
btrfsutil==5.9
CacheControl==0.12.6
cffi==1.14.4
chardet==3.0.4
colorama==0.4.4
commonmark==0.9.1
contextlib2==0.6.0.post1
cryptography==3.3.2
cytoolz==0.11.0
distlib==0.3.1
distro==1.5.0
docutils==0.16
eth-hash==0.3.1
eth-typing==1.3.0
eth-utils==1.2.2
FAHControl==0.0.0
html5lib==1.1
idna==2.10
imagesize==1.2.0
isort==5.7.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
lensfun==0.3.95
louis==3.16.0
lxml==4.6.3
Markdown==3.3.3
MarkupSafe==1.1.1
mccabe==0.6.1
msgpack==1.0.2
npyscreen==4.10.5
ordered-set==4.0.2
packaging==20.8
pacman-mirrors==4.19.1
pdfarranger==1.6.2
pep517==0.9.1
pexpect==4.8.0
pikepdf==2.4.0
Pillow==8.1.0
ply==3.11
progress==1.5
psutil==5.8.0
ptyprocess==0.7.0
pwquality==1.4.4
pycairo==1.20.0
pycparser==2.20
pycryptodome==3.6.6
pydata-sphinx-theme==0.4.2
Pygments==2.7.4
PyGObject==3.38.0
pyinotify==0.9.6
pylint==2.6.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.2
PyQt5-sip==12.8.1
python-pam==1.8.4
python-xapp==2.0.2
pytz==2020.5
qrcode==6.0
recommonmark==0.7.1
requests==2.25.1
resolvelib==0.5.4
retrying==1.3.3
scrypt==0.8.6
setproctitle==1.2.1
six==1.15.0
snowballstemmer==2.1.0
Sphinx==3.4.3
sphinx-copybutton==0.3.1
sphinx-markdown-tables==0.0.15
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
team==1.0
tinycss2==1.1.0
toml==0.10.2
toolz==0.11.1
urllib3==1.26.1
webencodings==0.5.1
wrapt==1.12.1
